extends layout

block content
  form(method="get" action="/books/search")
    label(for='category') Choose a category to search: &nbsp;
    select#category(name='category')
      option(value='title') Title
      option(value='author') Author
      option(value='genre') Genre
      option(value='year') Year
    br
    br
    input(type='search' placeholder="Enter your search") 
    input(type="submit" value='Search')
  br
  br
  a.button(href="/books/new") Create New Book
  br
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}